# SOC Ignore
archive/Estimating-SOC/__pycache__/
archive/Estimating-SOC/*.py[cod]
archive/Estimating-SOC/*$py.class
archive/Estimating-SOC/*.so
archive/Estimating-SOC/.Python
archive/Estimating-SOC/build/
archive/Estimating-SOC/develop-eggs/
archive/Estimating-SOC/dist/
archive/Estimating-SOC/downloads/
archive/Estimating-SOC/eggs/
archive/Estimating-SOC/.eggs/
archive/Estimating-SOC/lib/
archive/Estimating-SOC/lib64/
archive/Estimating-SOC/parts/
archive/Estimating-SOC/sdist/
archive/Estimating-SOC/var/
archive/Estimating-SOC/wheels/
archive/Estimating-SOC/pip-wheel-metadata/
archive/Estimating-SOC/share/python-wheels/
archive/Estimating-SOC/*.egg-info/
archive/Estimating-SOC/.installed.cfg
archive/Estimating-SOC/*.egg
archive/Estimating-SOC/MANIFEST
archive/Estimating-SOC/*.manifest
archive/Estimating-SOC/*.spec
archive/Estimating-SOC/pip-log.txt
archive/Estimating-SOC/pip-delete-this-directory.txt
archive/Estimating-SOC/htmlcov/
archive/Estimating-SOC/.tox/
archive/Estimating-SOC/.nox/
archive/Estimating-SOC/.coverage
archive/Estimating-SOC/.coverage.*
archive/Estimating-SOC/.cache
archive/Estimating-SOC/nosetests.xml
archive/Estimating-SOC/coverage.xml
archive/Estimating-SOC/*.cover
archive/Estimating-SOC/*.py,cover
archive/Estimating-SOC/.hypothesis/
archive/Estimating-SOC/.pytest_cache/
archive/Estimating-SOC/*.mo
archive/Estimating-SOC/*.pot
archive/Estimating-SOC/*.log
archive/Estimating-SOC/local_settings.py
archive/Estimating-SOC/db.sqlite3
archive/Estimating-SOC/db.sqlite3-journal
archive/Estimating-SOC/instance/
archive/Estimating-SOC/.webassets-cache
archive/Estimating-SOC/.scrapy
archive/Estimating-SOC/docs/_build/
archive/Estimating-SOC/target/
archive/Estimating-SOC/.ipynb_checkpoints
archive/Estimating-SOC/profile_default/
archive/Estimating-SOC/ipython_config.py
archive/Estimating-SOC/.python-version
archive/Estimating-SOC/__pypackages__/
archive/Estimating-SOC/celerybeat-schedule
archive/Estimating-SOC/celerybeat.pid
archive/Estimating-SOC/*.sage.py
archive/Estimating-SOC/.env
archive/Estimating-SOC/.venv
archive/Estimating-SOC/env/
archive/Estimating-SOC/venv/
archive/Estimating-SOC/ENV/
archive/Estimating-SOC/env.bak/
archive/Estimating-SOC/venv.bak/
archive/Estimating-SOC/.spyderproject
archive/Estimating-SOC/.spyproject
archive/Estimating-SOC/.ropeproject
archive/Estimating-SOC//site
archive/Estimating-SOC/.mypy_cache/
archive/Estimating-SOC/.dmypy.json
archive/Estimating-SOC/dmypy.json
archive/Estimating-SOC/.pyre/
# AGB Ignore
archive/Estimating-AGB/__pycache__/
archive/Estimating-AGB/*.py[cod]
archive/Estimating-AGB/*$py.class
archive/Estimating-AGB/*.so
archive/Estimating-AGB/.Python
archive/Estimating-AGB/build/
archive/Estimating-AGB/develop-eggs/
archive/Estimating-AGB/dist/
archive/Estimating-AGB/downloads/
archive/Estimating-AGB/eggs/
archive/Estimating-AGB/.eggs/
archive/Estimating-AGB/lib/
archive/Estimating-AGB/lib64/
archive/Estimating-AGB/parts/
archive/Estimating-AGB/sdist/
archive/Estimating-AGB/var/
archive/Estimating-AGB/wheels/
archive/Estimating-AGB/pip-wheel-metadata/
archive/Estimating-AGB/share/python-wheels/
archive/Estimating-AGB/*.egg-info/
archive/Estimating-AGB/.installed.cfg
archive/Estimating-AGB/*.egg
archive/Estimating-AGB/MANIFEST
archive/Estimating-AGB/*.manifest
archive/Estimating-AGB/*.spec
archive/Estimating-AGB/pip-log.txt
archive/Estimating-AGB/pip-delete-this-directory.txt
archive/Estimating-AGB/htmlcov/
archive/Estimating-AGB/.tox/
archive/Estimating-AGB/.nox/
archive/Estimating-AGB/.coverage
archive/Estimating-AGB/.coverage.*
archive/Estimating-AGB/.cache
archive/Estimating-AGB/nosetests.xml
archive/Estimating-AGB/coverage.xml
archive/Estimating-AGB/*.cover
archive/Estimating-AGB/*.py,cover
archive/Estimating-AGB/.hypothesis/
archive/Estimating-AGB/.pytest_cache/
archive/Estimating-AGB/*.mo
archive/Estimating-AGB/*.pot
archive/Estimating-AGB/*.log
archive/Estimating-AGB/local_settings.py
archive/Estimating-AGB/db.sqlite3
archive/Estimating-AGB/db.sqlite3-journal
archive/Estimating-AGB/instance/
archive/Estimating-AGB/.webassets-cache
archive/Estimating-AGB/.scrapy
archive/Estimating-AGB/docs/_build/
archive/Estimating-AGB/target/
archive/Estimating-AGB/.ipynb_checkpoints
archive/Estimating-AGB/profile_default/
archive/Estimating-AGB/ipython_config.py
archive/Estimating-AGB/.python-version
archive/Estimating-AGB/__pypackages__/
archive/Estimating-AGB/celerybeat-schedule
archive/Estimating-AGB/celerybeat.pid
archive/Estimating-AGB/*.sage.py
archive/Estimating-AGB/.env
archive/Estimating-AGB/.venv
archive/Estimating-AGB/env/
archive/Estimating-AGB/venv/
archive/Estimating-AGB/ENV/
archive/Estimating-AGB/env.bak/
archive/Estimating-AGB/venv.bak/
archive/Estimating-AGB/.spyderproject
archive/Estimating-AGB/.spyproject
archive/Estimating-AGB/.ropeproject
archive/Estimating-AGB//site
archive/Estimating-AGB/.mypy_cache/
archive/Estimating-AGB/.dmypy.json
archive/Estimating-AGB/dmypy.json
archive/Estimating-AGB/.pyre/
archive/Estimating-AGB/*.png
archive/Estimating-AGB/data/*
archive/Estimating-AGB/xgboost/*
archive/Estimating-AGB/output/*

# Combined Ignore
scotland_carbon/data/*
scotland_carbon/models/*
scotland_carbon/Try Out.ipynb